* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  background-image: url(https://wallpaperaccess.com/full/8148699.jpg);
}

.main__container__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.main__container__content .logo {
  width: 200px;
  height: 270px;
  -webkit-animation-name: jumper;
  animation-name: jumper;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

@-webkit-keyframes jumper {
  0% {
    padding-top: 0;
  }
  50% {
    padding-top: 30px;
  }
  100% {
    padding-top: 0;
  }
}

@keyframes jumper {
  0% {
    padding-top: 0;
  }
  50% {
    padding-top: 30px;
  }
  100% {
    padding-top: 0;
  }
}

.main__container__content .logo img {
  width: 100%;
}

.main__container__content__title {
  padding-bottom: 20px;
  text-align: center;
}

.main__container__content__title h1 {
  font-weight: 600;
  text-transform: uppercase;
  color: white;
  text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
}

.main__container__content__inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 50%;
  backdrop-filter: blur(2px) saturate(189%);
  -webkit-backdrop-filter: blur(4px) saturate(189%);
  background-color: rgba(17, 25, 40, 0);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  padding: 0 120px;
  -webkit-transition: 200ms;
  transition: 200ms;
}

.main__container__content__inputs label {
  font-weight: 600;
  color: white;
}

.main__container__content__inputs input {
  padding: 8px;
  outline: none;
  border-radius: 10px;
  border: none;
}

.main__container__content__inputs select {
  padding: 8px;
  outline: none;
  border-radius: 10px;
  border: none;
}

.main__container__content__inputs button {
  margin: 20px 0;
  padding: 8px;
  outline: none;
  border-radius: 10px;
  border: none;
  font-weight: 900;
  text-transform: uppercase;
  background: white;
}

.main__container__content__inputs2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 50%;
  backdrop-filter: blur(2px) saturate(189%);
  -webkit-backdrop-filter: blur(4px) saturate(189%);
  background-color: rgba(17, 25, 40, 0);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  padding: 40px 120px;
  -webkit-transition: 300ms;
  transition: 300ms;
  opacity: 0;
  visibility: hidden;
  margin-top: -280px;
}

.main__container__content__inputs2 p {
  color: white;
  font-weight: 600;
}
/*# sourceMappingURL=main.css.map */
